
{% extends "sticker/layout.html" %}
{% load static %}
{% block body %}
    <style> 
        #freemap { 
            height: 520px; 
            width: 100%; 
            border-radius: 10px;
        }

       .marker-border {
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }  

        .mapboxgl-marker { 
            cursor: pointer; 
        } 
 
        .locator-popup { 
            font-size: 14px; 
        } 
   </style>
   <div style="height: 90px; font-family: EB Garamond; background-color: #f1e931; width: 100%; border-radius: 10px; margin-bottom: 10px">
        <div style="width: 30%; float: left; text-align: center;">    
            <img src="{% static '/sticker/nett_hier_sticker.png' %}" alt="nett_hier_sticker" width="120" style="margin-left: auto;">     
        </div>
        {% if user.is_authenticated %}
        <div style="width: 70%; float: right;">    
            <h4 style="line-height: 90px; text-align: right; padding-right: 20px;">{{ user.first_name }}</h4>
        </div>
        {% endif %}
    </div>
   
   <!-- load openfreemap -->
   <div id="freemap"></div>

   <script> 
        // store Greenwich coordinates, will be use in case geolocation is not working
        sessionStorage.lng = 0
        sessionStorage.lat = 51.48125
        
        // get user location
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(success, error);
        } else {
            /* geolocation IS NOT available */
        }

        function success(position) {
            sessionStorage.lng = position.coords.longitude
            sessionStorage.lat = position.coords.latitude
            makefreemap()
        }

        function error() {
            alert("Sorry, no position available. Greenwich used instead");
            makefreemap()
        }

        let loc = [sessionStorage.lng, sessionStorage.lat]

        // create the map 
        function makefreemap() { 
            const freemap = new maplibregl.Map({ 
                style: 'https://tiles.openfreemap.org/styles/liberty',
                center: loc,
                zoom: 3,
                container: 'freemap',
            });
            let stickerLocations = JSON.parse("{{ locations|escapejs }}");
            //loop over sticker database entries
            for (let stickerLocation of stickerLocations) {
                let coordinates = [stickerLocation.longitude, stickerLocation.latitude];
                // create popup to display sticker information when the marker is clicked 
                let popup = new maplibregl.Popup().setHTML(`
                    <div class="locator-popup"> 
                        <div >
                            <p>${stickerLocation.city} - ${stickerLocation.country}</p>
                        </div>
                        <img src="https://res.cloudinary.com/dojtj3mlu/c_fill,ar_1.0,h_200/r_10/${stickerLocation.sticker_img}" alt="Sticker">
                    </div> 
                `);
                //create customized marker
                var icon = document.createElement('div')
                icon.className = 'marker-border'
                icon.style.backgroundImage = 'url(/static/sticker/nett_hier_sticker.png)'
                //add marker to map
                let marker = new maplibregl.Marker({ element: icon}) 
                    .setLngLat(coordinates) 
                    .setPopup(popup) 
                    .addTo(freemap);
            } 
        };
    </script> 
{% endblock %}