{% extends "sticker/layout.html" %}
{% block body %}
    <style> 
        #map { 
            height: 500px; 
            width: 100%; 
        }

       .marker-border {
            background-position: center;
            background-size: 50px;
            border-radius: 50%;
            width: 50px;
            height: 50px;
        }  

        .mapboxgl-marker { 
            cursor: pointer; 
        } 
 
        .locator-popup { 
            font-size: 14px; 
        } 
   </style>
   <div style="font-family: EB Garamond; background-color: #f1e931; border-radius: 10px; padding-left: 50px;">
        <h2>Nett hier</h2>
   </div>
   <div style="font-family: EB Garamond; padding-left: 50px;">
        <h5>Click a Sticker to see details</h5>


        <p id="demo"></p>
   </div>

   <!-- load openfreemap -->
   <div id="freemap" style="width: 100%; height: 500px"></div>

   <script> 
        // store Greenwich coordinates, will be use in case geolocation is not working
        sessionStorage.lng = 0
        sessionStorage.lat = 51.48125
        
        // get user location
        if ("geolocation" in navigator) {
            navigator.geolocation.getCurrentPosition(success, error);
        } else {
            /* geolocation IS NOT available */
        }

        function success(position) {
            sessionStorage.lng = position.coords.longitude
            sessionStorage.lat = position.coords.latitude
            makefreemap()
        }

        function error() {
            alert("Sorry, no position available.");
        }

        let loc = [sessionStorage.lng, sessionStorage.lat]

        // create the map 
        function makefreemap() {
            let freemap = new maplibregl.Map({ 
                style: 'https://tiles.openfreemap.org/styles/liberty',
                center: loc,
                zoom: 2,
                container: 'freemap',
            });
            let stickerLocations = JSON.parse("{{ locations|escapejs }}");
            //loop over sticker database entries
            for (let stickerLocation of stickerLocations) {
                let coordinates = [stickerLocation.longitude, stickerLocation.latitude];
                // create popup to display sticker information when the marker is clicked 
                let popup = new maplibregl.Popup().setHTML(`
                    <div class="locator-popup"> 
                        <div >
                        <p>${stickerLocation.city} - ${stickerLocation.country}</p>
                        </div>
                        <img src="/media/${stickerLocation.sticker_img}" alt="Sticker" width="100">
                    </div> 
                `);
                //create customized marker
                var icon = document.createElement('div')
                icon.className = 'marker-border'
                icon.style.backgroundImage = 'url(/static/sticker/nett_hier_sticker.png)'
                //add marker to map
                let marker = new maplibregl.Marker({ element: icon}) 
                    .setLngLat(coordinates) 
                    .setPopup(popup) 
                    .addTo(freemap);
            } 
        };
    </script> 
{% endblock %}