{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Nett hier. Aber waren Sie schon mal in Baden-Würtenberg?{% endblock %}</title>
        <link href="{% static '/sticker/stickerstyle.css' %}" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=EB Garamond" rel="stylesheet">
        <!-- links for Openfreemap.org -->
        <script src="https://unpkg.com/maplibre-gl/dist/maplibre-gl.js"></script>
        <link href="https://unpkg.com/maplibre-gl/dist/maplibre-gl.css" rel="stylesheet">
    </head>
    <body>
        <div style="margin: 5px;">
            <nav id="menu">
                <ul id="menu-closed">
                    <li class="mobile-nav">
                        <a class="nav-link" href="{% url 'index' %}">All Sticker</a>
                    </li>
                {% if user.is_authenticated %}
                    <li class="mobile-nav">
                        <a class="nav-link" href="{% url 'index' %}">My Sticker</a>
                    </li>
                    <li class="mobile-nav">
                        <a class="nav-link" href="{% url 'new_sticker' %}">New Sticker</a>
                    </li>
                    <li class="mobile-nav">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="mobile-nav">
                        <a class="nav-link" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="mobile-nav">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
                    <li class="mobile-nav">
                        <a href="#menu-closed">&#215; 🍔 vertilgen</a>
                    </li>
                    <li class="mobile-nav">
                        <a href="#menu">&#9776; Menu</a>
                    </li>
                </ul>
            </nav>
            {% block body %} 
            {% endblock %} 
        </div>
    </body>
</html>